<ng-container *ngIf="product">
    <div class="card-group">
        <div class="card-body">
            <div class="card">
                <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}"
                    [routerLink]="'/products/' + product.id" />
                <div class="card-body">
                    <h5 class="card-title">{{product.name }}</h5>
                    <p class="card-text"
                        *ngIf="product.stock > 0"><strong>Stock</strong>: {{ product.stock }}</p>
                    <p class="card-text"><strong>Price</strong>: {{ product.price | currency: "INR":"symbol" }}</p>
                    <button class="btn btn-success" (click)="addToWishlist()">
                        Add to Wishlist<span *ngIf="alert2" class="badge badge-pill badge-success cartb2">Added</span>
                    </button>
                    <button class="btn btn-secondary" (click)="addToCart()" [disabled]="product.stock <= 0">
                        Add to Cart<span *ngIf="alert1" class="badge badge-pill badge-success cartb1">Added</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>
